<template>
    <v-app>
        <v-navigation-drawer
                v-model="sideNav"
                absolute
                temporary
        >

            <v-list>
                <v-list-tile v-for="item in menuItems" :key="item.title" :to="item.link">
                    <v-list-tile-action>
                        <v-icon>{{item.icon}}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            {{item.tittle}}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>


        </v-navigation-drawer>

        <v-toolbar class="teal lighten-3">
            <v-toolbar-side-icon @click.stop="sideNav = !sideNav"
                                 class="hidden-sm-and-up">

            </v-toolbar-side-icon>
            <v-toolbar-title>
                <router-link to="/" tag="span" style="cursor: pointer;">
                    <h1>ultra-shopping-3000</h1>
                </router-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-xs-only">
                <v-btn flat v-for="item in menuItems" :key="item.tittle" :to="item.link">
                    <v-icon left dark>{{item.icon}}</v-icon>
                    <h3 class="font">{{item.tittle}}</h3>
                </v-btn>
            </v-toolbar-items>

        </v-toolbar>
        <main>
            <router-view></router-view>
        </main>
    </v-app>

</template>

<script>
    export default {
        name: "App",
        data() {
            return {
                sideNav: false,
                menuItems: [
                    {icon: 'label', tittle: 'Listy zakupów', link: '/lists'},
                  ,

                ]
            }
        }

    }
</script>

<style scoped>

</style>
