<template>
    <v-container>
        <v-layout>
            <v-flex>
                <h1>HOME</h1>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "Home",
    }
</script>

<style scoped>

</style>
