<template>
    <div>
        <v-toolbar flat color="white">
            <v-toolbar-title>Kategorie</v-toolbar-title>
            <v-divider
                    class="mx-2"
                    inset
                    vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
                <v-btn slot="activator" color="primary" dark class="mb-2">Dodaj kategorie</v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="editedItem.name" label="Nazwa kategorii"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <v-data-table
                :headers="headers"
                :items="categories"
                class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td>{{ props.item.id }}</td>
                <td>{{ props.item.name }}</td>


                <td class="justify-center layout px-0">
                    <v-icon
                            small
                            class="mr-2"
                            @click="editItem(props.item)"
                    >
                        edit
                    </v-icon>
                    <v-icon
                            small
                            @click="deleteItem(props.item)"
                    >
                        delete
                    </v-icon>
                </td>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "Categories",
        data: () => ({
            dialog: false,
            headers: [
                {
                    text: 'Id',
                    align: 'left',
                    sortable: true,
                    value: 'id'
                },
                {
                    text: 'Name',
                    align: 'left',
                    sortable: false,
                    value: 'name'
                },
            ],
            categories: [],
            editedIndex: -1,
            editedItem: {
                name: ''

            },
            defaultItem: {
                name: '',
            },
            control: '',
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
            }
        },

        watch: {
            dialog(val) {
                val || this.close()
            }
        },

        methods: {

            editItem(item) {
                this.editedIndex = this.categories.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true

            },

            deleteItem(item) {
                const index = this.categories.indexOf(item)
                this.editedItem = this.categories[index]
                console.log(this.editedItem)
                let id = this.editedItem.id;

                confirm('Are you sure you want to delete this item?') && axios.delete(`category/${id}`) && this.categories.splice(index, 1)
            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save() {

                if (this.editedIndex > -1) {
                    Object.assign(this.categories[this.editedIndex], this.editedItem)
                    axios.post('category', this.editedItem)
                } else {
                    axios.post('category', this.editedItem).then(() => {
                        axios.get('categories')
                            .then(response => {
                                this.categories = response.data.data
                            })
                    })

                }
                this.close()
            }
        },

        created() {
            axios.get('categories')
                .then(response => {
                    this.categories = response.data.data
                })
        }
    }
</script>

<style scoped>

</style>
