<template>
    <div>
        <v-toolbar flat color="white">
            <v-toolbar-title>Moja lista</v-toolbar-title>
            <v-divider
                    class="mx-2"
                    inset
                    vertical
            ></v-divider>
            <v-spacer></v-spacer>

            <v-btn to="/categories">Dodaj kategorie</v-btn>
            <v-btn to="/newshop">Dodaj sklep</v-btn>
            <v-dialog v-model="dialog" max-width="500px">
                <v-btn slot="activator" color="primary" dark class="mb-2">Dodaj produkt</v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="editedItem.name" label="Nazwa"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="editedItem.amount" label="Ilość"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-select
                                            :items="categories"
                                            v-model="editedItem.category_name"
                                            label="Select"
                                            data-vv-name="select"
                                    ></v-select>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-select
                                            :items="storesArray"
                                            v-model="editedItem.store_name"
                                            label="Select"
                                            data-vv-name="select"
                                    ></v-select>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

        </v-toolbar>
        <v-data-table
                :headers="headers"
                :items="products"
                class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
                <td>{{ props.item.amount }}</td>
                <td>{{ props.item.category.name }}</td>
                <td>{{ props.item.store.name  }}</td>

                <td class="justify-center layout px-0">
                    <v-icon
                            small
                            class="mr-2"
                            @click="editItem(props.item)"
                    >
                        edit
                    </v-icon>
                    <v-icon
                            small
                            @click="deleteItem(props.item)"
                    >
                        delete
                    </v-icon>
                </td>
            </template>
        </v-data-table>
    </div>
</template>
<script>
    import axios from 'axios'

    export default {
        name: "List",
        data: () => ({
            dialog: false,
            dialog2: false,
            headers: [
                {
                    text: 'Nazwa',
                    align: 'left',
                    value: 'name',
                    sortable: false
                },
                {text: 'Ilość', value: 'amount', sortable: false},
                {text: 'Kategoria', value: 'category', sortable: true},
                {text: 'Sklep', value: 'store', sortable: true},
                {text: 'Akcje', value: 'name', sortable: false}

            ],
            products: [],
            editedIndex: -1,
            editedItem: {
                name: '',
                amount: '',
                category_name: '',
                store_name: '',

            },
            defaultItem: {
                name: '',
                amount: '',
                category_name: '',
                store_name: '',

            },
            categories: [],
            createCategory: '',
            defaultCreateCategory: '',
            createCategoryIndex: -1,
            storesArray: []
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
            }
        },

        watch: {
            dialog(val) {
                val || this.close()
            }
        },
        methods: {
            editItem(item) {
                this.editedIndex = this.products.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem(item) {
                const index = this.products.indexOf(item)
                this.editedItem = this.products[index]
                let id = this.editedItem.id;


                confirm('Are you sure you want to delete this item?') && axios.delete('item/'+id) && this.products.splice(index, 1)
            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save() {
                if (this.editedIndex > -1) {
                    console.log('wbijam')
                    Object.assign(this.products[this.editedIndex], this.editedItem)
                    //axios.patch(`/list/${this.$route.params.id}/item`, this.editedItem)
                } else {
                    console.log(this.editedItem)
                    console.log('wbijam')
                    axios.post(`/list/${this.$route.params.id}/item`, this.editedItem)
                        .then(() => {
                            axios.get(`/list/${this.$route.params.id}`)
                                .then(response => {
                                    this.products = response.data.data.items
                                    console.log(this.products)
                                })
                        })
                }
                this.close()
            },

        },
        created() {

            axios.get(`/list/${this.$route.params.id}`)
                .then(response => {
                    this.products = response.data.data.items
                    console.log(this.products)
                })

            axios.get('categories')
                .then(response => {
                    let res = response.data.data;
                    res.forEach(el => {
                        this.categories.push(el.name)
                    })
                })
            axios.get('stores')
                .then(response => {
                    let res2 = response.data.data;
                    res2.forEach(el => {
                        this.storesArray.push(el.name)
                    })
                })

        }
    }


</script>

<style scoped>

</style>
