<template>
    <v-container>

        <v-dialog v-model="dialog" max-width="500px">
            <v-btn fab slot="activator" dark class="mb-2 teal lighten-3">
                <v-icon>add</v-icon>
            </v-btn>
            <v-card>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md4>
                                <v-text-field v-model="editedItem.name" label="Dodaj listę"></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                    <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-layout row wrap v-for="list in lists" :key="list.id" class="mb-2">
            <v-flex xs12 sm10 md8 offset-sm1 offset-md2>
                <v-card color="teal lighten-4">
                    <v-container fluid>
                        <v-layout row>
                            <v-flex xs7 sm8 md9>
                                <v-card-title primary-title>
                                    <div>
                                        <h1 class="black--text mb-0">{{list.name}}</h1>
                                    </div>
                                </v-card-title>
                                <v-card-actions>
                                    <v-btn flat :to="'lists/'+list.id">
                                        <v-icon left light>arrow_forward</v-icon>
                                        View List
                                    </v-btn>
                                    <v-btn flat style="position:absolute; right:0;" @click="showId(list.id)">
                                        <v-icon>delete</v-icon>
                                    </v-btn>
                                </v-card-actions>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "Lists",
        data() {
            return {
                lists: [],
                dialog: false,
                editedItem: {
                    name: ''
                },
                defaultItem: '',
                editedIndex: -1,


            }
        },


        methods: {

            showId(id) {
                axios.delete('list/' + id)
                    .then(() => {
                        axios.get('lists')
                            .then(response => {
                                this.lists = response.data.data
                            })
                    })
            },
            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save() {

                if (this.editedIndex > -1) {
                    Object.assign(this.categories[this.editedIndex], this.editedItem)
                    axios.post('list', this.editedItem)
                } else {
                    console.log(this.editedItem)
                    axios.post('list', this.editedItem).then(() => {
                        axios.get('lists')
                            .then(response => {
                                axios.get('lists')
                                    .then(response => {
                                        this.lists = response.data.data
                                    })
                            })
                    })

                }
                this.close()
            }
        },

        created() {
            axios.get('lists')
                .then(response => {
                    this.lists = response.data.data
                })
        }
    }
</script>

<style scoped>

</style>
